@import url('https://fonts.googleapis.com/css?family=Roboto');
 body {
   font-family: 'Noto Sans Arabic';
   	 height: 1500px;
}

.orng{
   color: #eb5424;
}

.text-right{
   text-align: right;

}
.br-orng  {
   border-bottom: 0.1rem solid #eb5424;
 }
 .container-small{
   overflow: visible;
   width: 70%;
   height: 60%;
   margin:0 auto;

}
.login{
   padding-bottom: 5rem;

}
.to-right{
   float:right;
}

.to-left{
   float:left;


}
.container{
   margin-top:5%;
 }
 /* Style to create scroll bar in dropdown */ 
 .scrollable-dropdown{
     height: auto;
     max-height:320px;  /* Increase / Decrease value as per your need */
     overflow-x: hidden;
 }
 .card-footer {
   background: transparent;
   border-top: 0px;
 }




 .login-page {
   width: 360px;
   padding: 8% 0 0;
   margin: auto;
 }
 .form {
   position: relative;
   z-index: 1;
   background: #FFFFFF;
   max-width: 360px;
   margin: 0 auto 100px;
   padding: 45px;
   text-align: center;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 }
 .form input {
   font-family: "Roboto", sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
 }
 .form button {
   font-family: "Roboto", sans-serif;
   text-transform: uppercase;
   outline: 0;
   background:#eb5424;
   width: 100%;
   border: 0;
   padding: 15px;
   color: #FFFFFF;
   font-size: 14px;
   -webkit-transition: all 0.3 ease;
   transition: all 0.3 ease;
   cursor: pointer;
 }
 .form button:hover,.form button:active,.form button:focus {
   background: #f73d04;
 }
 .form .message {
   margin: 15px 0 0;
   color: #b3b3b3;
   font-size: 12px;
 }
 .form .message a {
   color: #f73d04;
   text-decoration: none;
 }
 .form .register-form {
   display: none;
 }   

.orng-bg{
background: #eb5424;
}

.btn-orng{
background:#eb5424;

}
.mini{
border-right:  0.7rem solid #eb5424;
}

.b-r{
border-right:  0.1rem solid #eb5424;

}
.team-list-img {
padding-left: 0.75rem;
}
.team-list-img img {
height: 1.7rem;
width: 1.7rem;
border: 2px solid #fff;
border-radius: 50%;
}
.team-list-img a {
display: inline-block;
margin: 1px 0;
margin-left: -0.75rem;
}

.badge span {
background-color: #fffbec;
width: 3.7rem;
height: 1.563rem;
padding-bottom: 0.188rem;
border-radius: 0.313rem;
display: flex;
color: #eb5424;
justify-content: center;
align-items: center
}

#on {
width: 1rem;
height: 1rem;
background: green;
border-radius: 50%
}


#off {
width: 1rem;
height: 1rem;
background: grey;
border-radius: 50%
}

#ergent {
width: 1rem;
height: 1rem;
background: red;
border-radius: 50%
}

.cats{
overflow-y: scroll;
height: 100vh;
position:relative;

}
/* The heart of the matter */
.cats-v  > .row {
overflow-x: scroll;
white-space: nowrap;
}
.cats-v > .row > .col-sm-4 {
display: inline-block;
float: none;
}


.modal-dialog{
max-width: 40rem;
}


.no-outline {
outline: 0;
border-width: 0 0 2px;
border-color: grey;
}
.no-outline:focus {
border-color: #eb5424;
}
.focus-orng:focus{
border-color: #eb5424;

}

.float{
width:2.75rem;
height:2.75rem;
bottom:1.5rem;
right:1.5rem;
background-color:#25d366;
color:#FFF;
border-radius:2.125rem;
text-align:center;
font-size:1.875rem;
box-shadow: 0.125rem 0.125rem 0.188rem #999;
}

.my-float{
margin-top:.5rem;
}

.thank-you-pop{
width:100%;
padding:20px;
text-align:center;
}
.thank-you-pop img{
width:76px;
height:auto;
margin:0 auto;
display:block;
margin-bottom:25px;
}

.thank-you-pop h1{
font-size: 42px;
margin-bottom: 25px;
color:#5C5C5C;
}
.thank-you-pop p{
font-size: 20px;
margin-bottom: 27px;
color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
font-size: 25px;
margin-bottom: 40px;
color:#222;
display:inline-block;
text-align:center;
padding:10px 20px;
border:2px dashed #222;
clear:both;
font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
color:#03A9F4;
}
.thank-you-pop a{
display: inline-block;
margin: 0 auto;
padding: 9px 20px;
color: #fff;
text-transform: uppercase;
font-size: 14px;
background-color: #8BC34A;
border-radius: 17px;
}
.thank-you-pop a i{
margin-right:5px;
color:#fff;
}
#ignismyModal .modal-header{
border:0px;
}
.border-right-orng{
border-right: 0.3rem solid #eb5424;
}
.progress-sm{
height: 0.5rem !important;
}

.spacer
{
width: 40%;
height: 40%;
}

.user-text-area {
user-select: text;
white-space: pre-wrap;
overflow-wrap: break-word;
border: 0 !important;
outline: 0 !important;
font-size: 1.25rem;
}
.user-text-area:empty:before {
content: "اترك تعليقاً";
z-index: -1;
color: #b3b3b3;
}
.user-text-area:empty:focus:before {
display: none;
}


section .section-title {
   text-align: center;
 }
 
 #tabs h6.section-title{
   color: #222;
 }
 
 
 #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
   background-color: transparent;
   border-color: transparent transparent #f3f3f3;
   border-bottom: 0.15rem solid !important;
   font-size:  2.3vh;
   color: #eb5424;
 
 
 }
 
 .nav-link{
   color: #222;
 
 
 }
 #tabs .nav-tabs .nav-link {
   border: 0.15rem solid transparent;
   font-size: 2.3vh;
 }
 
 a.active {
   border-bottom: 2px solid #eb5424;
 }
 
 .nav-link {
   color: rgb(110, 110, 110);
   font-weight: 500;
 }
 .nav-link:hover {
   color: #eb5424;
 }
 
 .nav-pills .nav-link.active {
   color: #eb5424;
   background-color: transparent;
   border-radius: 0.5rem 0.5rem 0 0;
   font-weight: 500;
 }
 
 .tab-content {
   padding-bottom: 1.3rem;
 }
 
 .link-title{
   font-size: larger;
 }
 














 .bg-gray {
	 background-color: #e3e3e3;
}
 .flex-grow-1 {
	 flex-grow: 1;
}
 .flex-shrink-0 {
	 flex-shrink: 0;
}
 .hamburger-btn {
	 background-color: inherit;
	 padding: 6px 8px;
}
 header {
	 height: 56px;
	 box-shadow: 0 0 4px 4px #f3f3f3;
}
 header .search-box {
	 max-width: 640px;
}
 header .search-btn {
	 background-color: #f8f8f8;
}
 header .search-btn:hover {
	 background-color: #f0f0f0;
	 border-color: #c6c6c6;
	 box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10);
	 transition: none;
}
 main.content .video-thumbnail {
	 height: 118px;
}
 main.content .video-title, main.content .video-meta, main.content .video-row-title {
	 height: 20px;
}
 main.content .video-row-title {
	 width: 100px;
}
 aside {
	 position: fixed;
	 right: 0;
	 top: 0;
	 height: 100%;
	 z-index: 1020;
	 background-color: #f5f5f5;
	 width: 240px;
	 overflow: hidden;
	 transform: translate3d(240px, 0, 0);
	 transition-duration: 0;
}
 aside .side-menu-header {
	 height: 56px;
	 border-bottom: 1px solid #eee;
}
 aside .side-menu-body {
	 height: calc(100% - 56px);
}
 aside .side-menu-body:hover {
	 overflow-y: scroll;
}
 aside .side-menu-body::-webkit-scrollbar {
	 width: 8px;
}
 aside .side-menu-body::-webkit-scrollbar-thumb {
	 height: 56px;
	 background: rgba(136, 136, 136, .4);
}
 aside .list-group {
	 padding: 12px 0;
	 border-bottom: 1px solid #eee;
}
 aside .list-group-item {
	 height: 40px;
	 font-size: 14px;
	 font-weight: 400;
	 color: #111;
	 padding: 0 24px;
	 border: none;
	 background-color: inherit;
}
 aside .list-group-item .yt-icon path {
	 fill: #878787;
}
 aside .list-group-item:hover {
	 background-color: #ebebeb;
}
 aside .list-group-item.active {
	 background-color: inherit;
	 color: inherit;
	 pointer-events: none;
	 font-weight: 700;
}
 aside .list-group-item.active .yt-icon path {
	 fill: #f00;
}
 aside.open {
	 transform: translate3d(0, 0, 0);
}
 aside.open:not(.mobile) + .content {
	 margin-left: 240px;
}
 aside.mobile {
	 transition-duration: 0.2s;
	 z-index: 1050;
}
 aside.mobile.open ~ .side-menu-backdrop {
	 opacity: 1;
	 visibility: visible;
}
 .side-menu-backdrop {
	 position: fixed;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: rgba(0, 0, 0, 0.5);
	 opacity: 0;
	 visibility: hidden;
	 transition: all 0.2s ease;
	 z-index: 1040;
}
 